@import "tailwindcss";

:root{
    --color-yellow: #FCBA04;
    --color-red: #A50104;
    --color-darkred: #590004;
    --color-black-bean: #250001;
    --color-white-smoke: #F3F3F3;
    --color-white-glow: #FFFFFF30;
    --color-white: #fff;
    --color-darkgray: #222;
    --color-black: #000;
    --color-shadow: #0000005d;
}

*{
    box-sizing: border-box;
}

html, body{
    background-color: var(--color-darkgray);
    height: 100vh;
    color: var(--color-white-smoke);
}
